*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html , body{
    height: 100%;
    width: 100%;
}
#parent{
    height: 300px;
    width: 300px;
    background-color: cyan;
}

#child{
    height: 100px;
    width: 100px;
    background-color: red;
}
#parent{
    height: 50vh;
    width: 50vw;
    background-color: cyan;
}

#child{
    height: 25vh;
    width: 25vw;
    background-color: red;
}
#parent{
    height: 50vmax;
    width: 50vmin;
    background-color: cyan;
}

#child{
    height: 25vmax;
    width: 25vmin;
    background-color: red;
}
#parent{
    height: 300px;
    width: 300px;
    background-color: cyan;
    
}

#child{
    height: 100px;
    width: 100px;
    background-color: red;
}


/* the pixels is fix unit they are not beheive of our devices */
/* the vh and vw is most useful unit for responsive 
vh - View port height
vw - View port Width */

/* vmax and vmin is mostly used for responsive */

/* em and rem is used to adjust the size of the parent 

the em is used to adjust the size of our parent div

the rem is use to adjust the size of the our root element eg html body */