*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    font-size: 30px;
    padding: 50px 60px;
    background-color: transparent;
    outline: none;
    color: white;
    border: 2px solid blue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#btn::after{
    content: "";
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all linear 0.5s;
    z-index: -1;
}

#btn:hover::after{
    transform: translate(-50%,-50%) scale(3);
}

#btn:hover{
    color: black;
}
