*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 1s;
}

@keyframes move{
    from{
        left: 0%;
        background-color: red;
    }
    to{
        left: 70%;
        background-color: blue;
    }
}
