* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding: 0.1px;
}

nav {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  height: 14vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5vw;
}

nav h1 {
  font-size: 2.5vw;
  font-family: monument;
  padding-left: 50px;
}

nav h2 {
  height: 100%;
  width: 25%;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #000;
  text-transform: capitalize;
}


nav h1{
  font-size: 3vw;
  letter-spacing: -3px;
  position: relative;
}

nav h1::before{
  content: "©️";
  font-size: 17px;
  position: absolute;
  top: 0%;
  right: -10%;
}


nav h1::after{
  width: 60%;
  content: "model management";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  position: absolute;
  top: 80%;
  left: 50%;
  font-weight: 400;
}



nav h2:nth-child(4){
  width: 35%;
}

nav h2:nth-last-child(1){
  font-size: 2vw;
  font-weight: 500;
}





#vedio {
  height: 96vh;
  width: 100%;
  position: relative;
  padding: 3.4vw 6vw;
}

#video-container {
  height: 100%;
  width: 100%;
  position: relative;
 
}

#video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

#text-container{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  color: #fff;
  padding: 2vw 4vw;
}


#text-container #top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text-container #top h1{
  font-size: 3vw;
  font-weight: 600;
  font-family: monument;
  letter-spacing: 2px;
  color: white;
  mix-blend-mode:difference;
}

#text-container #top h2{
  font-size: 1.5vw;
  font-weight: 500;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#text-container #top h2::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  border-bottom: 2px solid black;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#text-container #bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vw;
  border-top: 1px solid #fff;
}

#text-container #bottom h4{
  font-size: 1.2vw;
  font-weight: 500;
}


#slider{
  height: 40%;
  width: 100%;
  padding: 2vw 4vw;
  white-space: nowrap;
  overflow-x: hidden;
}

#slider-container{
  height: 100%;
  width: 120%;
  display: inline-block;
  padding: 1vw 1vw;
  animation: slide 15s linear infinite;
}

#slider-container img{
  height: 150px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 0.5vw;
}

@keyframes slide {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}


#alphabet{
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  letter-spacing: 0.2vw;
}

#alphabet h5{
  margin-right: 50px;
  font-size: 2vw;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
}

#alphabet h6{
  font-size: 1.5vw;
  font-weight: 500;
  font-style: italic;
  padding: 0.5vw 1vw;
  /* background-color: yellow; */
  border-radius: 50%;
}

#alphabet h6:hover{
  border: 1.5px solid #000;
  cursor: pointer;
}


#alphabet h6:nth-child(even){
  color: #818181;
}

#alphabet h6:nth-child(8){
  border-radius: 50%;
  height: 40px;
  width: 45px;
  border: 1.5px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;

}



#bio{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 3vw;
  gap: 3vw;
}

#left{
  height: 100%;
  width: 50%;
  background-color: blue;
}


#left img{
  height: 130%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#left h1{
  font-size: 2vw;
  font-weight: 600;
  font-family: monument;
  color: black;
  letter-spacing: 0.5vw;
  margin-top: 2vw;
}


#right{
  height: 100%;
  width: 40%;
  background-color: green;
}

#right .top{
  height: 60%;
  width: 100%;
  background-color: red;
}

#right .top img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


#right .bottom{
  height: 40%;
  width: 100%;
  background-color: yellow;
}
