@media (max-width: 600px) {

    /* Navbar section */

    nav {
        height: 10vh;
      }
      
      nav h1 {
        width: 90%;
        font-size: 8vw;
        text-align: center;
      }
      
      nav h2 {
        display: none;
      }
      nav h1::before {
        display: none;
      }
      
      nav h1::after {
       display: none;
      }

      /* Vedio section */

      #vedio {
        height: 50vh;
        width: 100%;
        position: relative;
        padding: 3.4vw 6vw;
      }
      
      #video-container {
        height: 100%;
        width: 100%;
        position: relative;
      }
      
      #video-container video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      
      #text-container {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40%;
        width: 100%;
        color: #fff;
        padding: 2vw 4vw;
      }
      
      #text-container #top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      #text-container #top h1 {
        font-size: 4vw;
      }
      
      #text-container #top h2 {
        height: 30px;
        width: 30px;
      }
      
      #text-container #bottom {
        margin-top: 3vw;
      }
      
      #text-container #bottom h4 {
        font-size: 4vw;
      }
      #bottom img {
        height: 50px;
        width: 50px;
      }

      
}