@media (max-width: 600px) {
  /* Navbar section */

  nav {
    height: 10vh;
  }

  nav h1 {
    width: 90%;
    font-size: 8vw;
    text-align: center;
  }

  nav h2 {
    display: none;
  }
  nav h1::before {
    display: none;
  }

  nav h1::after {
    display: none;
  }

  /* Vedio section */

  #vedio {
    height: 50vh;
    width: 100%;
    position: relative;
    padding: 3.4vw 6vw;
  }

  #video-container {
    height: 100%;
    width: 100%;
    position: relative;
  }

  #video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #text-container {
    height: 25vh;
  }

  #text-container #top h1 {
    font-size: 4vw;
  }

  #text-container #top h2 {
    height: 30px;
    width: 30px;
  }

  #text-container #bottom {
    margin-top: 3vw;
  }

  #text-container #bottom h4 {
    font-size: 4vw;
  }
  #bottom img {
    height: 50px;
    width: 50px;
  }

  /* Slider section */

  #slider {
    height: 20vh;
  }

  #slider-container {
    width: 140%;
  }

  #slider-container img {
    width: 18vw;
    height: 16vh;
    margin: 0;
  }

  /* Alphabet section */
  #alphabet {
    height: 13vh;
    width: 100%;
    letter-spacing: none;
    padding: 0vw 6vw;
  }

  #alphabet h5 {
    margin-right: 10px;
    font-size: 4vw;
    font-weight: 500;
  }

  #alphabet h6 {
    font-size: 1.6vw;
  }
  #alphabet h6:nth-child(8) {
    height: 20px;
    width: 55px;
  }
  
  
}
