@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{
    --default-font: 'Mona Sans', sans-serif;
    --secondary-font: 'Source Serif 4', serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}
html , body{
    height: 100vh;
    width: 100vw;
}

#page1{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

nav{
    height: 90px;
    width: 100%;    
    /* background-color: royalblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


#nav-part1{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-part1 h4{
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}




#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#nav-part2 button{
    padding: 16px 24px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

#nav-part2 button:nth-child(1){
    background-color: white;
    color: black;
    margin-right: 10px
}


#content{
    height: calc(100% - 90px);
    width: 100%;
    /* background-color: green; */
}