* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
#box1 {
  height: 100px;
  width: 100px;
  background-color: red;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

#box2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes move {
  from {
    left: 0%;
  }
  to {
    left: 60%;
  }
}
